

<p *ngIf="!myJobs"><em>Loading...</em></p>

<div class="container">
    <div class="row">
        <h1>My Jobs</h1>
        <div class="col-md-10">
            <div *ngIf="myJobs">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let myJob of myJobsPaged">
                            <td class="col-md-8">
                                <div>
                                    <h4 class="h4">{{ myJob?.jobTitle }}</h4>
                                    <h5 class="card-text p-a-1">Description: {{ (myJob?.jobDescription.length > 30) ? (myJob?.jobDescription | slice:0:30) + '...' : (myJob?.jobDescription) }}</h5>
                                    <h5>Job State: <b>{{ stateIdToName(myJob?.jobState) }}</b></h5>
                                </div>
                            </td>
                            <td>
                                <div>  
                                    <h5 *ngIf="myJob?.ratePerHour;" class="float-right">Rate per hour: {{ myJob?.ratePerHour }} GBP</h5>
                                    <h5 *ngIf="myJob?.rateFixed;" class="float-right">Fixed rate: {{ myJob?.rateFixed }} GBP</h5>
                                    <h5 *ngIf="myJob?.durationDays;" class="float-right">Duration: {{ myJob?.durationDays }} days</h5>
                                    <h5 *ngIf="myJob?.durationHours;" class="float-right">Duration: {{ myJob?.durationHours }} hours</h5>
                                    <button class="float-right btn btn-sm btn-primary" (click)="getJobDetails(myJob?.id)">Details</button>
                                </div>
                            </td>
                        </tr>
                    <tbody>
                </table>

                <!-- pagination buttons -->
                <div *ngIf="pager.pages && pager.pages.length" class="text-center my-2">

                    <button [class]="{disabled:pager.currentPage === 1}"
                            (click)="setPage(pager.currentPage - 1)">
                        Previous
                    </button>
                    <button *ngFor="let page of pager.pages"
                            class="btn btn-default mx-1"
                            [class.active]="pager.currentPage == page"
                            (click)="setPage(page)">
                        {{page}}
                    </button>
                    <button [class]="{disabled:pager.currentPage === pager.totalPages}"
                            (click)="setPage(pager.currentPage + 1)">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


