
#footer .container {
    padding-bottom: 20px;
}

agm-map {
    height: 300px;
}

#thumbimages ul {
    padding: 0;
    margin: 20px auto;
    position: relative;
    float: left;
}

#thumbimages li {
    display: inline-block;
    position: relative;
}



.tn {
    position: relative;
    margin-left: 10px;
    box-shadow: #999 1px 1px 3px 1px;
    cursor: pointer;
    width: 140px;
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
}


.modal-content {
    width: 670px !important;
}
.selectedImage {
    width: 640px;
    position: relative
}

.caption {
    position: absolute;
    height: 70px;
    width: 100%;
    top: 410;
    left: 0;
    opacity: 0.9;
    background-color: black;
    color: white;
    padding: 5px;
    font-family: verdana;
    font-size: 12px;
}


p {
    -webkit-margin-before: 5px !important;
    -webkit-margin-after: 5px !important;
}