@model string
<div class="borderless">
    <br />
    <h4>Available Skills:</h4>
    <ul class="list-group row">
        <li class="list-group-item col-xs-3">Advertising</li>
        <li class="list-group-item col-xs-3">Babysitting</li>
        <li class="list-group-item col-xs-3">Beauty</li>
        <li class="list-group-item col-xs-3">Food</li>
        <li class="list-group-item col-xs-3">Charity</li>
        <li class="list-group-item col-xs-3">Cleaning</li>
        <li class="list-group-item col-xs-3">Construction</li>
        <li class="list-group-item col-xs-3">Consultancy</li>
        <li class="list-group-item col-xs-3">Design</li>
        <li class="list-group-item col-xs-3">Education</li>
        <li class="list-group-item col-xs-3">Engineering</li>
        <li class="list-group-item col-xs-3">Farming</li>
        <li class="list-group-item col-xs-3">Finances</li>
        <li class="list-group-item col-xs-3">Fitness</li>
        <li class="list-group-item col-xs-3">Gardening</li>
        <li class="list-group-item col-xs-3">Healthcare</li>
        <li class="list-group-item col-xs-3">Homecare</li>
        <li class="list-group-item col-xs-3">Hospitality</li>
        <li class="list-group-item col-xs-3">Housekeeping</li>
        <li class="list-group-item col-xs-3">IT and Computers</li>
        <li class="list-group-item col-xs-3">Legal</li>
        <li class="list-group-item col-xs-3">Logistics</li>
        <li class="list-group-item col-xs-3">Repair</li>
        <li class="list-group-item col-xs-3">Sales</li>
        <li class="list-group-item col-xs-3">Secretarial</li>
        <li class="list-group-item col-xs-3">Security</li>
        <li class="list-group-item col-xs-3">Social Work</li>
        <li class="list-group-item col-xs-3">Transport</li>
</ul>
</div>