<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/clientdashboard']">Let Skills</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']"><span class='glyphicon glyphicon-home'></span>Home</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/clientdashboard']"><span class='glyphicon glyphicon-briefcase'></span>Client - Dashboard</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/clientprofile']"><span class='glyphicon glyphicon-briefcase'></span>Client - My Profile</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/clientwallet']"><span class='glyphicon glyphicon-briefcase'></span>Client - My Wallet</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/newjob']"><span class='glyphicon glyphicon-briefcase'></span>Client - New Job</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/clientfeedbacks']"><span class='glyphicon glyphicon-briefcase'></span>Client - My Feedbacks</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/myjobs']"><span class='glyphicon glyphicon-briefcase'></span>Client - My Jobs</a>
                </li>
                
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/providerdashboard']"><span class='glyphicon glyphicon-education'></span>Provider - Dashboard</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/providerprofile']"><span class='glyphicon glyphicon-education'></span>Provider - My Profile</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/searchjob']"><span class='glyphicon glyphicon-education'></span>Provider - Job Search</a>
                </li>
                <!--<li>
                    <a href="http://localhost:5002/identity"><span class='glyphicon glyphicon-apple'></span> Identity Ext</a>
                </li>
                <li>
                    <a href="http://localhost:5002/maps"><span class='glyphicon glyphicon-apple'></span> Map Ext</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a *ngIf="!isAuthorized" (click)="login()"><span class="glyphicon glyphicon-user"></span>Login</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a *ngIf="isAuthorized" (click)="logout()"><span class='glyphicon glyphicon-log-out'></span>Logout</a>
                </li>-->
                <li [routerLinkActive]="['link-active']">
                    <a *ngIf="!isAuthorized" [routerLink]="['/home']"><span class='glyphicon glyphicon-home'></span>Login</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a *ngIf="isAuthorized" [routerLink]="['/home']"><span class='glyphicon glyphicon-home'></span>Logout</a>
                </li>

            </ul>
        </div>
    </div>
</div>
