<h1>Job Details</h1>

<div class="form-group">
    <div class="container" id="thumbimages">
        <ul>
            <li *ngFor="let image of jobDetails?.images">
                <img src="{{image}}"
                     class="tn"
                     data-toggle="modal"
                     data-target="#selectedImageModal2"
                     (click)=setSelectedImage(image)>
            </li>
        </ul>

        <div class="modal fade" id="selectedImageModal2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <img *ngIf="selectedImage" src="{{selectedImage}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-2 col-md-12 row">

    <table class="table table-sm table-striped">
        <colgroup>
            <col class="col-md-2">
            <col class="col-md-5">
        </colgroup>
        <tbody>
            <tr> <th>Job State: </th> <td>{{ stateIdToName(jobDetails?.jobState) }}</td> </tr>
            <!--<tr> <th>ID:</th> <td>{{ jobDetails?.id || 'Loading Data...' }}</td> </tr>-->
            <tr> <th>Job Title: </th> <td>{{ jobDetails?.jobTitle }}</td> </tr>
            <tr> <th>Description: </th> <td>{{ jobDetails?.jobDescription }}</td> </tr>
            <tr *ngIf="jobDetails?.ratePerHour;"> <th>Rate GBP (Per Hour): </th> <td>{{ jobDetails?.ratePerHour }}</td> </tr>
            <tr *ngIf="jobDetails?.rateFixed;"> <th>Rate GBP (Fixed): </th> <td>{{ jobDetails?.rateFixed }}</td> </tr>
            <tr *ngIf="jobDetails?.durationDays;"> <th>Duration (Days): </th> <td>{{ jobDetails?.durationDays }}</td> </tr>
            <tr *ngIf="jobDetails?.durationHours;"> <th>Duration (Hours): </th> <td>{{ jobDetails?.durationHours }}</td> </tr>
            <!--<tr> <th>PostCode: </th> <td>{{ jobDetails?.locationPostCode }}</td> </tr>-->
            <tr *ngIf="jobDetails?.jobState == 40"> <th>Primary Telephone: </th> <td>{{ jobDetails?.contactTelephone1 }}</td> </tr>
            <tr *ngIf="jobDetails?.jobState == 40"> <th>Secondary Telephone: </th> <td>{{ jobDetails?.contactTelephone2 }}</td> </tr>
            <!--<tr> <th>Email: </th> <td>{{ jobDetails?.contactEmail }}</td> </tr>-->
            <tr> <th>Required Skill: </th> <td>{{ jobDetails?.skill }}</td> </tr>
            <tr> <th>Planned Start Date: </th> <td>{{ jobDetails?.plannedStartDate | date: 'dd-MMM-yyyy' }}</td> </tr>
            <tr> <th>Planned Finish Date: </th> <td>{{ jobDetails?.plannedFinishDate | date: 'dd-MMM-yyyy' }}</td> </tr>
            <!--<tr> <th>Location Latitude: </th> <td>{{ jobDetails?.locationLat }}</td> </tr>-->
            <!--<tr> <th>Location Longitude: </th> <td>{{ jobDetails?.locationLng }}</td> </tr>-->
            </tbody>
    </table>
</div>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div class="mt-2 col-md-12 row">
    <p> Job location: </p>
    <agm-map [latitude]="locationLat"
             [longitude]="locationLng"
             [mapDraggable]="false"
             [scrollwheel]="false"
             [zoom]="zoom">

        <agm-marker [latitude]="locationLat"
                    [longitude]="locationLng">

        </agm-marker>
    </agm-map>
</div>

<div class="form-group">
    <div class="mt-2 col-md-12 row"> 
        <div *ngIf="jobDetails?.jobState == 20" class="text-center">
            <p>
                By clicking I Accept, you confirm that you have read the job terms and conditions, that you understand them and that you agree and able to complete this job. Your work quality will be rated.
            </p>
            <button class="float-right btn btn-sm btn-success" (click)="acceptOffer()">I Accept</button>
            <button class="float-right btn btn-sm btn-warning" (click)="rejectOffer()">I cannot Accept</button>
        </div>

        <!--  Successfull POST response changes status variable value from -1 to 1/0 -->
        <div *ngIf="status == 1" class="alert alert-success box-msg text-center" role="alert">
            <strong>Job Offer is Successfully sent</strong>
        </div>
        <div *ngIf="status == 0" class="alert alert-danger box-msg text-center" role="alert">
            <strong>Job Offer did not happen, try again!</strong>
        </div>

        <!--  Successfull POST response changes status variable value from -1 to 2/3 -->
        <div *ngIf="status == 2" class="alert alert-success box-msg text-center" role="alert">
            <strong>Job Offer was not accepted</strong>
        </div>
        <div *ngIf="status == 3" class="alert alert-danger box-msg text-center" role="alert">
            <strong>Job Offer rejection did not happen, please try again!</strong>
        </div>
    </div>
</div>


<!-- Vertical space --> 
<!--<div class="col-xs-12" style="height:20px;"></div>-->

<!-- Edit Job Details button --> 
<!--<label class="control-label" for="singlebutton"></label>
<div class="text-center">
    <div *ngIf="acceptable">
        <button class="float-center btn btn-default btn-primary" (click)="acceptOffer(jobDetails?.id)">
            Accept this Offer
        </button>
    </div>

    <div *ngIf="unpublishable">
        <button class="float-center btn btn-default btn-primary" (click)="unpublishJob(jobDetails?.id)">
            Put On Hold
        </button>
        <h5>To Edit this job you have to put it On Hold.</h5>
        <h5>Putting On Hold deletes all current applications.</h5>
        <h5>You will be able to republish this job as a new one.</h5>
    </div>
      Successfull PUT response changes status variable value from -1 to 1 
    <div *ngIf="status == 1" class="alert alert-success box-msg text-center" role="alert">
        <strong>Job is Successfully Put On Hold</strong>
    </div>
    <div *ngIf="status == 0" class="alert alert-danger box-msg text-center" role="alert">
        <strong>Job Update Failed!</strong>
    </div>
</div>-->



<!-- Footer at the bottom of the page to have some contact details etc -->
<div id="footer">
    <footer class="container"></footer>
</div>
