<h1>My Profile</h1>

<div class="row">
    <div class="col-md-7 col-md-offset-1">
        <table class="table table-sm table-striped">
            <colgroup>
                <col class="col-md-5">
                <col class="col-md-7">
            </colgroup>
            <tbody>
                <tr> <th>ID:</th> <td>{{ clientProfile?.id || 'Loading Data...' }}</td> </tr>
                <tr> <th>Last login Time: </th> <td>{{ clientProfile?.lastLoginTime | date: 'dd-MMM-yyyy'}}</td> </tr>
                <tr> <th>Name: </th> <td>{{ clientProfile?.name }}</td> </tr>
                <tr> <th>Surname: </th> <td>{{ clientProfile?.surname }}</td> </tr>
                <tr> <th>User Name: </th> <td>{{ clientProfile?.username }}</td> </tr>
                <tr> <th>Email: </th> <td>{{ clientProfile?.contactEmail }}</td> </tr>
                <tr> <th>Primary Telephone: </th> <td>{{ clientProfile?.contactTelephone1 }}</td> </tr>
                <tr> <th>Secondary Telephone: </th> <td>{{ clientProfile?.contactTelephone2 }}</td> </tr>
                <!--<tr> <th>Country: </th> <td>{{ clientProfile?.country }}</td> </tr>
                <tr> <th>City: </th> <td>{{ clientProfile?.city }}</td> </tr>
                <tr> <th>Address 1: </th> <td>{{ clientProfile?.addressLine1 }}</td> </tr>
                <tr> <th>Address 1: </th> <td>{{ clientProfile?.addressLine2 }}</td> </tr>
                <tr> <th>Post Code: </th> <td>{{ clientProfile?.postCode }}</td> </tr>-->
            </tbody>
        </table>

        <!-- Edit Client Profile button -->
        <div class="row">
            <label class="control-label" for="singlebutton"></label>
            <div class="text-center">
                <button class="float-center btn btn-default btn-primary" (click)="editCientProfile()">
                    Edit My Profile
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="row" id="thumbimages">
            <div *ngIf="clientProfile?.profileImageUrl">
                <img src="{{clientProfile?.profileImageUrl}}"
                        class="tn"
                        data-toggle="modal"
                        data-target="#selectedImageModal2"
                        (click)=setSelectedImage()>
            </div>
            <div *ngIf="!clientProfile?.profileImageUrl">
                <img src="https://s3.eu-west-2.amazonaws.com/images.angular4.test1/defaults/DefaultProfilePicture.PNG"
                        class="tn"
                        data-toggle="modal"
                        data-target="#selectedImageModal2"
                        (click)=setSelectedImage()>
            </div>

            <div class="modal fade" id="selectedImageModal2">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img *ngIf="selectedImage" src="{{selectedImage}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer at the bottom of the page to have some contact details etc -->
<div id="footer">
    <footer class="container"></footer>
</div>
