<!-- This is shown in the Modal window from the clientfeedbacks component -->
<div>
    <div>
        Timestamp: {{feedbackTimestamp}}
    </div>
    <div>
        Feedback: {{feedbackDescription}}
    </div>

    <!-- Stars -->
    <div>
        <span *ngFor="let star of stars; let i = index">
            <i *ngIf="i < skillsRate" class="glyphicon glyphicon-star star"></i>
            <i *ngIf="i >= skillsRate" class="glyphicon glyphicon-star-empty star"></i>
        </span>
        Skills
    </div>

    <div>
        <span *ngFor="let star of stars; let i = index">
            <i *ngIf="i < communicationRate" class="glyphicon glyphicon-star star"></i>
            <i *ngIf="i >= communicationRate" class="glyphicon glyphicon-star-empty star"></i>
        </span>
        Communication
    </div>

    <div>
        <span *ngFor="let star of stars; let i = index">
            <i *ngIf="i < punctualityRate" class="glyphicon glyphicon-star star"></i>
            <i *ngIf="i >= punctualityRate" class="glyphicon glyphicon-star-empty star"></i>
        </span>
        Punctuality
    </div>
</div>
