@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}


.loadingdiv {
    background: rgba(255, 255, 255, .85);
    position: absolute;
    top: 50%;
    left: 50%;
}

.loadingdiv span {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 50%;
    z-index: 10;
    -webkit-animation: loading .4s infinite alternate;
    background: #4285f4;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

.loadingdiv span:nth-of-type(2) {
    background: #db4437;
    -webkit-animation-delay: .2s;
}

.loadingdiv span:nth-of-type(3) {
    background: #f4b400;
    -webkit-animation-delay: .4s;
}

.loadingdiv span:nth-of-type(4) {
    background: #0f9d58;
    -webkit-animation-delay: .6s;
}
