
<p *ngIf="!providers"><em>Loading...</em></p>

<h1>Applications</h1>

<div class="container">
    <div class="row">

        <article class="col-xs-12 col-sm-6 col-md-3" *ngFor="let provider of providers">
            <div id="modest" class="panel panel-info changecursor" (click)="getProviderDetails(provider.id)">
                <div class="panel-body">
                    <img src="{{provider.profileImageUrl}}" class="img-thumbnail" width="150" height="100">

                </div>
                <div class="panel-footer">
                    <h4>{{provider.name}}</h4>
                    <div>
                        Rating: <b>{{provider.rating}} of 10</b> 
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>



