
.star {
    color: #FD4;
    font-size: 20px;
    vertical-align: middle;
}

.star:hover {
    transform: rotate(-5deg) scale(1.3);
}

.iwt {
    vertical-align: middle;
}

/*------------------------------*/


.form-container {
    display: block;
    width: 90%;
    padding: 2em;
    margin: 2em auto;
    background: #fff;
}

.customInput {
    width: 50px;
    float: right;
}

.alert {
    background: #f2edda;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    animation: 2s alertAnim forwards;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.submitButton {
    padding: 15px;
    clear: both;
}

h1 {
    margin-bottom: 2rem;
    font-weight: bold;
    font-family: 'Muli';
    font-size: 2em;
}


@keyframes alertAnim {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.loader {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
