#onhold {
    background-color: silver;
    cursor: pointer;
    border-radius: 5px/5px;
}

#inprogress {
    background-color: lightgreen;
    cursor: pointer;
    border-radius: 5px/5px;
}

#published {
    background-color: yellow;
    cursor: pointer;
    border-radius: 5px/5px;
}

#completed {
    background-color: lightskyblue;
    cursor: pointer;
    border-radius: 5px/5px;
}

#expired {
    background-color: lightcoral;
    cursor: pointer;
    border-radius: 5px/5px;
}

#job {
    cursor: pointer;
}

tr:hover td {
    background: whitesmoke
}


.boxCenterNumber {
    height: 120px;
    width: 120px;
    border-radius: 5%;
    background-color: whitesmoke;
    border: 2px solid black;
    font-size: 64px;
    text-align: center;
    padding: 0 20px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    cursor: pointer;
}

.boxCenterNumber2 {
    margin-top: 20px;
    height: 120px;
    width: 120px;
    border-radius: 5%;
    background-color: lightgreen;
    border: 2px solid green;
    font-size: 64px;
    text-align: center;
    padding: 0 20px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    cursor: pointer;
}


.boxCenterText {
    width: 120px;
    text-align: center;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

